// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$design-bottom-left-gird3-name: 'design-bottom-left-gird3';
$design-bottom-left-gird3-x: 0px;
$design-bottom-left-gird3-y: 0px;
$design-bottom-left-gird3-offset-x: 0px;
$design-bottom-left-gird3-offset-y: 0px;
$design-bottom-left-gird3-width: 27px;
$design-bottom-left-gird3-height: 29px;
$design-bottom-left-gird3-total-width: 701px;
$design-bottom-left-gird3-total-height: 5849px;
$design-bottom-left-gird3-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird3: (0px, 0px, 0px, 0px, 27px, 29px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird3', );
$product-triangle-name: 'product-triangle';
$product-triangle-x: 0px;
$product-triangle-y: 29px;
$product-triangle-offset-x: 0px;
$product-triangle-offset-y: -29px;
$product-triangle-width: 45px;
$product-triangle-height: 31px;
$product-triangle-total-width: 701px;
$product-triangle-total-height: 5849px;
$product-triangle-image: '../sprite/first-page-sprite.jpg';
$product-triangle: (0px, 29px, 0px, -29px, 45px, 31px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-triangle', );
$design-bottom-left-gird1-name: 'design-bottom-left-gird1';
$design-bottom-left-gird1-x: 0px;
$design-bottom-left-gird1-y: 60px;
$design-bottom-left-gird1-offset-x: 0px;
$design-bottom-left-gird1-offset-y: -60px;
$design-bottom-left-gird1-width: 33px;
$design-bottom-left-gird1-height: 35px;
$design-bottom-left-gird1-total-width: 701px;
$design-bottom-left-gird1-total-height: 5849px;
$design-bottom-left-gird1-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird1: (0px, 60px, 0px, -60px, 33px, 35px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird1', );
$design-right-smaller-yellow-gird-name: 'design-right-smaller-yellow-gird';
$design-right-smaller-yellow-gird-x: 0px;
$design-right-smaller-yellow-gird-y: 95px;
$design-right-smaller-yellow-gird-offset-x: 0px;
$design-right-smaller-yellow-gird-offset-y: -95px;
$design-right-smaller-yellow-gird-width: 35px;
$design-right-smaller-yellow-gird-height: 37px;
$design-right-smaller-yellow-gird-total-width: 701px;
$design-right-smaller-yellow-gird-total-height: 5849px;
$design-right-smaller-yellow-gird-image: '../sprite/first-page-sprite.jpg';
$design-right-smaller-yellow-gird: (0px, 95px, 0px, -95px, 35px, 37px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-right-smaller-yellow-gird', );
$first-page-grid-name: 'first-page-grid';
$first-page-grid-x: 0px;
$first-page-grid-y: 132px;
$first-page-grid-offset-x: 0px;
$first-page-grid-offset-y: -132px;
$first-page-grid-width: 55px;
$first-page-grid-height: 38px;
$first-page-grid-total-width: 701px;
$first-page-grid-total-height: 5849px;
$first-page-grid-image: '../sprite/first-page-sprite.jpg';
$first-page-grid: (0px, 132px, 0px, -132px, 55px, 38px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'first-page-grid', );
$design-right-bigger-yellow-grid-name: 'design-right-bigger-yellow-grid';
$design-right-bigger-yellow-grid-x: 0px;
$design-right-bigger-yellow-grid-y: 170px;
$design-right-bigger-yellow-grid-offset-x: 0px;
$design-right-bigger-yellow-grid-offset-y: -170px;
$design-right-bigger-yellow-grid-width: 39px;
$design-right-bigger-yellow-grid-height: 42px;
$design-right-bigger-yellow-grid-total-width: 701px;
$design-right-bigger-yellow-grid-total-height: 5849px;
$design-right-bigger-yellow-grid-image: '../sprite/first-page-sprite.jpg';
$design-right-bigger-yellow-grid: (0px, 170px, 0px, -170px, 39px, 42px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-right-bigger-yellow-grid', );
$design-bottom-left-gird2-name: 'design-bottom-left-gird2';
$design-bottom-left-gird2-x: 0px;
$design-bottom-left-gird2-y: 212px;
$design-bottom-left-gird2-offset-x: 0px;
$design-bottom-left-gird2-offset-y: -212px;
$design-bottom-left-gird2-width: 53px;
$design-bottom-left-gird2-height: 56px;
$design-bottom-left-gird2-total-width: 701px;
$design-bottom-left-gird2-total-height: 5849px;
$design-bottom-left-gird2-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird2: (0px, 212px, 0px, -212px, 53px, 56px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird2', );
$product-right-white-triangle-name: 'product-right-white-triangle';
$product-right-white-triangle-x: 0px;
$product-right-white-triangle-y: 268px;
$product-right-white-triangle-offset-x: 0px;
$product-right-white-triangle-offset-y: -268px;
$product-right-white-triangle-width: 36px;
$product-right-white-triangle-height: 60px;
$product-right-white-triangle-total-width: 701px;
$product-right-white-triangle-total-height: 5849px;
$product-right-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-right-white-triangle: (0px, 268px, 0px, -268px, 36px, 60px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-right-white-triangle', );
$product-center-white-triangle-name: 'product-center-white-triangle';
$product-center-white-triangle-x: 0px;
$product-center-white-triangle-y: 328px;
$product-center-white-triangle-offset-x: 0px;
$product-center-white-triangle-offset-y: -328px;
$product-center-white-triangle-width: 68px;
$product-center-white-triangle-height: 60px;
$product-center-white-triangle-total-width: 701px;
$product-center-white-triangle-total-height: 5849px;
$product-center-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-center-white-triangle: (0px, 328px, 0px, -328px, 68px, 60px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-center-white-triangle', );
$product-left-white-triangle-name: 'product-left-white-triangle';
$product-left-white-triangle-x: 0px;
$product-left-white-triangle-y: 388px;
$product-left-white-triangle-offset-x: 0px;
$product-left-white-triangle-offset-y: -388px;
$product-left-white-triangle-width: 35px;
$product-left-white-triangle-height: 60px;
$product-left-white-triangle-total-width: 701px;
$product-left-white-triangle-total-height: 5849px;
$product-left-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-left-white-triangle: (0px, 388px, 0px, -388px, 35px, 60px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-left-white-triangle', );
$design-bottom-left-gird4-name: 'design-bottom-left-gird4';
$design-bottom-left-gird4-x: 0px;
$design-bottom-left-gird4-y: 448px;
$design-bottom-left-gird4-offset-x: 0px;
$design-bottom-left-gird4-offset-y: -448px;
$design-bottom-left-gird4-width: 60px;
$design-bottom-left-gird4-height: 63px;
$design-bottom-left-gird4-total-width: 701px;
$design-bottom-left-gird4-total-height: 5849px;
$design-bottom-left-gird4-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird4: (0px, 448px, 0px, -448px, 60px, 63px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird4', );
$first-page-dynamic-word-name: 'first-page-dynamic-word';
$first-page-dynamic-word-x: 0px;
$first-page-dynamic-word-y: 511px;
$first-page-dynamic-word-offset-x: 0px;
$first-page-dynamic-word-offset-y: -511px;
$first-page-dynamic-word-width: 124px;
$first-page-dynamic-word-height: 64px;
$first-page-dynamic-word-total-width: 701px;
$first-page-dynamic-word-total-height: 5849px;
$first-page-dynamic-word-image: '../sprite/first-page-sprite.jpg';
$first-page-dynamic-word: (0px, 511px, 0px, -511px, 124px, 64px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'first-page-dynamic-word', );
$first-page-top-right-star-name: 'first-page-top-right-star';
$first-page-top-right-star-x: 0px;
$first-page-top-right-star-y: 575px;
$first-page-top-right-star-offset-x: 0px;
$first-page-top-right-star-offset-y: -575px;
$first-page-top-right-star-width: 72px;
$first-page-top-right-star-height: 65px;
$first-page-top-right-star-total-width: 701px;
$first-page-top-right-star-total-height: 5849px;
$first-page-top-right-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-right-star: (0px, 575px, 0px, -575px, 72px, 65px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'first-page-top-right-star', );
$web-center-word-p-name: 'web-center-word-p';
$web-center-word-p-x: 0px;
$web-center-word-p-y: 640px;
$web-center-word-p-offset-x: 0px;
$web-center-word-p-offset-y: -640px;
$web-center-word-p-width: 62px;
$web-center-word-p-height: 68px;
$web-center-word-p-total-width: 701px;
$web-center-word-p-total-height: 5849px;
$web-center-word-p-image: '../sprite/first-page-sprite.jpg';
$web-center-word-p: (0px, 640px, 0px, -640px, 62px, 68px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-center-word-p', );
$web-bottom-left-word2-name: 'web-bottom-left-word2';
$web-bottom-left-word2-x: 0px;
$web-bottom-left-word2-y: 708px;
$web-bottom-left-word2-offset-x: 0px;
$web-bottom-left-word2-offset-y: -708px;
$web-bottom-left-word2-width: 6px;
$web-bottom-left-word2-height: 72px;
$web-bottom-left-word2-total-width: 701px;
$web-bottom-left-word2-total-height: 5849px;
$web-bottom-left-word2-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word2: (0px, 708px, 0px, -708px, 6px, 72px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word2', );
$product-yellow-triangle-name: 'product-yellow-triangle';
$product-yellow-triangle-x: 0px;
$product-yellow-triangle-y: 780px;
$product-yellow-triangle-offset-x: 0px;
$product-yellow-triangle-offset-y: -780px;
$product-yellow-triangle-width: 71px;
$product-yellow-triangle-height: 76px;
$product-yellow-triangle-total-width: 701px;
$product-yellow-triangle-total-height: 5849px;
$product-yellow-triangle-image: '../sprite/first-page-sprite.jpg';
$product-yellow-triangle: (0px, 780px, 0px, -780px, 71px, 76px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-yellow-triangle', );
$design-title-name: 'design-title';
$design-title-x: 0px;
$design-title-y: 856px;
$design-title-offset-x: 0px;
$design-title-offset-y: -856px;
$design-title-width: 395px;
$design-title-height: 92px;
$design-title-total-width: 701px;
$design-title-total-height: 5849px;
$design-title-image: '../sprite/first-page-sprite.jpg';
$design-title: (0px, 856px, 0px, -856px, 395px, 92px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-title', );
$web-title-name: 'web-title';
$web-title-x: 0px;
$web-title-y: 948px;
$web-title-offset-x: 0px;
$web-title-offset-y: -948px;
$web-title-width: 432px;
$web-title-height: 92px;
$web-title-total-width: 701px;
$web-title-total-height: 5849px;
$web-title-image: '../sprite/first-page-sprite.jpg';
$web-title: (0px, 948px, 0px, -948px, 432px, 92px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-title', );
$first-page-top-left-star-name: 'first-page-top-left-star';
$first-page-top-left-star-x: 0px;
$first-page-top-left-star-y: 1040px;
$first-page-top-left-star-offset-x: 0px;
$first-page-top-left-star-offset-y: -1040px;
$first-page-top-left-star-width: 150px;
$first-page-top-left-star-height: 101px;
$first-page-top-left-star-total-width: 701px;
$first-page-top-left-star-total-height: 5849px;
$first-page-top-left-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-left-star: (0px, 1040px, 0px, -1040px, 150px, 101px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'first-page-top-left-star', );
$design-left-white-gird-name: 'design-left-white-gird';
$design-left-white-gird-x: 0px;
$design-left-white-gird-y: 1141px;
$design-left-white-gird-offset-x: 0px;
$design-left-white-gird-offset-y: -1141px;
$design-left-white-gird-width: 120px;
$design-left-white-gird-height: 102px;
$design-left-white-gird-total-width: 701px;
$design-left-white-gird-total-height: 5849px;
$design-left-white-gird-image: '../sprite/first-page-sprite.jpg';
$design-left-white-gird: (0px, 1141px, 0px, -1141px, 120px, 102px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-left-white-gird', );
$web-center-white-light-name: 'web-center-white-light';
$web-center-white-light-x: 0px;
$web-center-white-light-y: 1243px;
$web-center-white-light-offset-x: 0px;
$web-center-white-light-offset-y: -1243px;
$web-center-white-light-width: 198px;
$web-center-white-light-height: 124px;
$web-center-white-light-total-width: 701px;
$web-center-white-light-total-height: 5849px;
$web-center-white-light-image: '../sprite/first-page-sprite.jpg';
$web-center-white-light: (0px, 1243px, 0px, -1243px, 198px, 124px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-center-white-light', );
$first-page-light-name: 'first-page-light';
$first-page-light-x: 0px;
$first-page-light-y: 1367px;
$first-page-light-offset-x: 0px;
$first-page-light-offset-y: -1367px;
$first-page-light-width: 228px;
$first-page-light-height: 137px;
$first-page-light-total-width: 701px;
$first-page-light-total-height: 5849px;
$first-page-light-image: '../sprite/first-page-sprite.jpg';
$first-page-light: (0px, 1367px, 0px, -1367px, 228px, 137px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'first-page-light', );
$product-title-name: 'product-title';
$product-title-x: 0px;
$product-title-y: 1504px;
$product-title-offset-x: 0px;
$product-title-offset-y: -1504px;
$product-title-width: 454px;
$product-title-height: 140px;
$product-title-total-width: 701px;
$product-title-total-height: 5849px;
$product-title-image: '../sprite/first-page-sprite.jpg';
$product-title: (0px, 1504px, 0px, -1504px, 454px, 140px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-title', );
$web-bottom-left-word4-name: 'web-bottom-left-word4';
$web-bottom-left-word4-x: 0px;
$web-bottom-left-word4-y: 1644px;
$web-bottom-left-word4-offset-x: 0px;
$web-bottom-left-word4-offset-y: -1644px;
$web-bottom-left-word4-width: 29px;
$web-bottom-left-word4-height: 156px;
$web-bottom-left-word4-total-width: 701px;
$web-bottom-left-word4-total-height: 5849px;
$web-bottom-left-word4-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word4: (0px, 1644px, 0px, -1644px, 29px, 156px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word4', );
$web-center-word-name: 'web-center-word';
$web-center-word-x: 0px;
$web-center-word-y: 1800px;
$web-center-word-offset-x: 0px;
$web-center-word-offset-y: -1800px;
$web-center-word-width: 183px;
$web-center-word-height: 157px;
$web-center-word-total-width: 701px;
$web-center-word-total-height: 5849px;
$web-center-word-image: '../sprite/first-page-sprite.jpg';
$web-center-word: (0px, 1800px, 0px, -1800px, 183px, 157px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-center-word', );
$design-center-word-name: 'design-center-word';
$design-center-word-x: 0px;
$design-center-word-y: 1957px;
$design-center-word-offset-x: 0px;
$design-center-word-offset-y: -1957px;
$design-center-word-width: 425px;
$design-center-word-height: 169px;
$design-center-word-total-width: 701px;
$design-center-word-total-height: 5849px;
$design-center-word-image: '../sprite/first-page-sprite.jpg';
$design-center-word: (0px, 1957px, 0px, -1957px, 425px, 169px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-center-word', );
$product-center-word-name: 'product-center-word';
$product-center-word-x: 0px;
$product-center-word-y: 2126px;
$product-center-word-offset-x: 0px;
$product-center-word-offset-y: -2126px;
$product-center-word-width: 379px;
$product-center-word-height: 187px;
$product-center-word-total-width: 701px;
$product-center-word-total-height: 5849px;
$product-center-word-image: '../sprite/first-page-sprite.jpg';
$product-center-word: (0px, 2126px, 0px, -2126px, 379px, 187px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-center-word', );
$web-bottom-left-word3-name: 'web-bottom-left-word3';
$web-bottom-left-word3-x: 0px;
$web-bottom-left-word3-y: 2313px;
$web-bottom-left-word3-offset-x: 0px;
$web-bottom-left-word3-offset-y: -2313px;
$web-bottom-left-word3-width: 28px;
$web-bottom-left-word3-height: 281px;
$web-bottom-left-word3-total-width: 701px;
$web-bottom-left-word3-total-height: 5849px;
$web-bottom-left-word3-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word3: (0px, 2313px, 0px, -2313px, 28px, 281px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word3', );
$design-right-box-name: 'design-right-box';
$design-right-box-x: 0px;
$design-right-box-y: 2594px;
$design-right-box-offset-x: 0px;
$design-right-box-offset-y: -2594px;
$design-right-box-width: 415px;
$design-right-box-height: 323px;
$design-right-box-total-width: 701px;
$design-right-box-total-height: 5849px;
$design-right-box-image: '../sprite/first-page-sprite.jpg';
$design-right-box: (0px, 2594px, 0px, -2594px, 415px, 323px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-right-box', );
$web-bottom-left-word1-name: 'web-bottom-left-word1';
$web-bottom-left-word1-x: 0px;
$web-bottom-left-word1-y: 2917px;
$web-bottom-left-word1-offset-x: 0px;
$web-bottom-left-word1-offset-y: -2917px;
$web-bottom-left-word1-width: 39px;
$web-bottom-left-word1-height: 342px;
$web-bottom-left-word1-total-width: 701px;
$web-bottom-left-word1-total-height: 5849px;
$web-bottom-left-word1-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word1: (0px, 2917px, 0px, -2917px, 39px, 342px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word1', );
$first-page-static-word-name: 'first-page-static-word';
$first-page-static-word-x: 0px;
$first-page-static-word-y: 3259px;
$first-page-static-word-offset-x: 0px;
$first-page-static-word-offset-y: -3259px;
$first-page-static-word-width: 210px;
$first-page-static-word-height: 349px;
$first-page-static-word-total-width: 701px;
$first-page-static-word-total-height: 5849px;
$first-page-static-word-image: '../sprite/first-page-sprite.jpg';
$first-page-static-word: (0px, 3259px, 0px, -3259px, 210px, 349px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'first-page-static-word', );
$web-bottom-left-word5-name: 'web-bottom-left-word5';
$web-bottom-left-word5-x: 0px;
$web-bottom-left-word5-y: 3608px;
$web-bottom-left-word5-offset-x: 0px;
$web-bottom-left-word5-offset-y: -3608px;
$web-bottom-left-word5-width: 7px;
$web-bottom-left-word5-height: 373px;
$web-bottom-left-word5-total-width: 701px;
$web-bottom-left-word5-total-height: 5849px;
$web-bottom-left-word5-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word5: (0px, 3608px, 0px, -3608px, 7px, 373px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word5', );
$design-center-sprite-name: 'design-center-sprite';
$design-center-sprite-x: 0px;
$design-center-sprite-y: 3981px;
$design-center-sprite-offset-x: 0px;
$design-center-sprite-offset-y: -3981px;
$design-center-sprite-width: 590px;
$design-center-sprite-height: 375px;
$design-center-sprite-total-width: 701px;
$design-center-sprite-total-height: 5849px;
$design-center-sprite-image: '../sprite/first-page-sprite.jpg';
$design-center-sprite: (0px, 3981px, 0px, -3981px, 590px, 375px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'design-center-sprite', );
$product-center-sprite-name: 'product-center-sprite';
$product-center-sprite-x: 0px;
$product-center-sprite-y: 4356px;
$product-center-sprite-offset-x: 0px;
$product-center-sprite-offset-y: -4356px;
$product-center-sprite-width: 701px;
$product-center-sprite-height: 379px;
$product-center-sprite-total-width: 701px;
$product-center-sprite-total-height: 5849px;
$product-center-sprite-image: '../sprite/first-page-sprite.jpg';
$product-center-sprite: (0px, 4356px, 0px, -4356px, 701px, 379px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'product-center-sprite', );
$web-center-sprite-name: 'web-center-sprite';
$web-center-sprite-x: 0px;
$web-center-sprite-y: 4735px;
$web-center-sprite-offset-x: 0px;
$web-center-sprite-offset-y: -4735px;
$web-center-sprite-width: 371px;
$web-center-sprite-height: 427px;
$web-center-sprite-total-width: 701px;
$web-center-sprite-total-height: 5849px;
$web-center-sprite-image: '../sprite/first-page-sprite.jpg';
$web-center-sprite: (0px, 4735px, 0px, -4735px, 371px, 427px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'web-center-sprite', );
$first-page-center-name: 'first-page-center';
$first-page-center-x: 0px;
$first-page-center-y: 5162px;
$first-page-center-offset-x: 0px;
$first-page-center-offset-y: -5162px;
$first-page-center-width: 683px;
$first-page-center-height: 687px;
$first-page-center-total-width: 701px;
$first-page-center-total-height: 5849px;
$first-page-center-image: '../sprite/first-page-sprite.jpg';
$first-page-center: (0px, 5162px, 0px, -5162px, 683px, 687px, 701px, 5849px, '../sprite/first-page-sprite.jpg', 'first-page-center', );
$spritesheet-width: 701px;
$spritesheet-height: 5849px;
$spritesheet-image: '../sprite/first-page-sprite.jpg';
$spritesheet-sprites: ($design-bottom-left-gird3, $product-triangle, $design-bottom-left-gird1, $design-right-smaller-yellow-gird, $first-page-grid, $design-right-bigger-yellow-grid, $design-bottom-left-gird2, $product-right-white-triangle, $product-center-white-triangle, $product-left-white-triangle, $design-bottom-left-gird4, $first-page-dynamic-word, $first-page-top-right-star, $web-center-word-p, $web-bottom-left-word2, $product-yellow-triangle, $design-title, $web-title, $first-page-top-left-star, $design-left-white-gird, $web-center-white-light, $first-page-light, $product-title, $web-bottom-left-word4, $web-center-word, $design-center-word, $product-center-word, $web-bottom-left-word3, $design-right-box, $web-bottom-left-word1, $first-page-static-word, $web-bottom-left-word5, $design-center-sprite, $product-center-sprite, $web-center-sprite, $first-page-center, );
$spritesheet: (701px, 5849px, '../sprite/first-page-sprite.jpg', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
