// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$product-triangle-name: 'product-triangle';
$product-triangle-x: 0px;
$product-triangle-y: 0px;
$product-triangle-offset-x: 0px;
$product-triangle-offset-y: 0px;
$product-triangle-width: 45px;
$product-triangle-height: 31px;
$product-triangle-total-width: 701px;
$product-triangle-total-height: 2434px;
$product-triangle-image: '../sprite/first-page-sprite.jpg';
$product-triangle: (0px, 0px, 0px, 0px, 45px, 31px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-triangle', );
$first-page-grid-name: 'first-page-grid';
$first-page-grid-x: 0px;
$first-page-grid-y: 31px;
$first-page-grid-offset-x: 0px;
$first-page-grid-offset-y: -31px;
$first-page-grid-width: 55px;
$first-page-grid-height: 38px;
$first-page-grid-total-width: 701px;
$first-page-grid-total-height: 2434px;
$first-page-grid-image: '../sprite/first-page-sprite.jpg';
$first-page-grid: (0px, 31px, 0px, -31px, 55px, 38px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'first-page-grid', );
$product-right-white-triangle-name: 'product-right-white-triangle';
$product-right-white-triangle-x: 0px;
$product-right-white-triangle-y: 69px;
$product-right-white-triangle-offset-x: 0px;
$product-right-white-triangle-offset-y: -69px;
$product-right-white-triangle-width: 36px;
$product-right-white-triangle-height: 60px;
$product-right-white-triangle-total-width: 701px;
$product-right-white-triangle-total-height: 2434px;
$product-right-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-right-white-triangle: (0px, 69px, 0px, -69px, 36px, 60px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-right-white-triangle', );
$product-left-white-triangle-name: 'product-left-white-triangle';
$product-left-white-triangle-x: 0px;
$product-left-white-triangle-y: 129px;
$product-left-white-triangle-offset-x: 0px;
$product-left-white-triangle-offset-y: -129px;
$product-left-white-triangle-width: 35px;
$product-left-white-triangle-height: 60px;
$product-left-white-triangle-total-width: 701px;
$product-left-white-triangle-total-height: 2434px;
$product-left-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-left-white-triangle: (0px, 129px, 0px, -129px, 35px, 60px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-left-white-triangle', );
$product-center-white-triangle-name: 'product-center-white-triangle';
$product-center-white-triangle-x: 0px;
$product-center-white-triangle-y: 189px;
$product-center-white-triangle-offset-x: 0px;
$product-center-white-triangle-offset-y: -189px;
$product-center-white-triangle-width: 68px;
$product-center-white-triangle-height: 60px;
$product-center-white-triangle-total-width: 701px;
$product-center-white-triangle-total-height: 2434px;
$product-center-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-center-white-triangle: (0px, 189px, 0px, -189px, 68px, 60px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-center-white-triangle', );
$first-page-dynamic-word-name: 'first-page-dynamic-word';
$first-page-dynamic-word-x: 0px;
$first-page-dynamic-word-y: 249px;
$first-page-dynamic-word-offset-x: 0px;
$first-page-dynamic-word-offset-y: -249px;
$first-page-dynamic-word-width: 124px;
$first-page-dynamic-word-height: 64px;
$first-page-dynamic-word-total-width: 701px;
$first-page-dynamic-word-total-height: 2434px;
$first-page-dynamic-word-image: '../sprite/first-page-sprite.jpg';
$first-page-dynamic-word: (0px, 249px, 0px, -249px, 124px, 64px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'first-page-dynamic-word', );
$first-page-top-right-star-name: 'first-page-top-right-star';
$first-page-top-right-star-x: 0px;
$first-page-top-right-star-y: 313px;
$first-page-top-right-star-offset-x: 0px;
$first-page-top-right-star-offset-y: -313px;
$first-page-top-right-star-width: 72px;
$first-page-top-right-star-height: 65px;
$first-page-top-right-star-total-width: 701px;
$first-page-top-right-star-total-height: 2434px;
$first-page-top-right-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-right-star: (0px, 313px, 0px, -313px, 72px, 65px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'first-page-top-right-star', );
$product-yellow-triangle-name: 'product-yellow-triangle';
$product-yellow-triangle-x: 0px;
$product-yellow-triangle-y: 378px;
$product-yellow-triangle-offset-x: 0px;
$product-yellow-triangle-offset-y: -378px;
$product-yellow-triangle-width: 71px;
$product-yellow-triangle-height: 76px;
$product-yellow-triangle-total-width: 701px;
$product-yellow-triangle-total-height: 2434px;
$product-yellow-triangle-image: '../sprite/first-page-sprite.jpg';
$product-yellow-triangle: (0px, 378px, 0px, -378px, 71px, 76px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-yellow-triangle', );
$first-page-top-left-star-name: 'first-page-top-left-star';
$first-page-top-left-star-x: 0px;
$first-page-top-left-star-y: 454px;
$first-page-top-left-star-offset-x: 0px;
$first-page-top-left-star-offset-y: -454px;
$first-page-top-left-star-width: 150px;
$first-page-top-left-star-height: 101px;
$first-page-top-left-star-total-width: 701px;
$first-page-top-left-star-total-height: 2434px;
$first-page-top-left-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-left-star: (0px, 454px, 0px, -454px, 150px, 101px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'first-page-top-left-star', );
$first-page-light-name: 'first-page-light';
$first-page-light-x: 0px;
$first-page-light-y: 555px;
$first-page-light-offset-x: 0px;
$first-page-light-offset-y: -555px;
$first-page-light-width: 228px;
$first-page-light-height: 137px;
$first-page-light-total-width: 701px;
$first-page-light-total-height: 2434px;
$first-page-light-image: '../sprite/first-page-sprite.jpg';
$first-page-light: (0px, 555px, 0px, -555px, 228px, 137px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'first-page-light', );
$product-title-name: 'product-title';
$product-title-x: 0px;
$product-title-y: 692px;
$product-title-offset-x: 0px;
$product-title-offset-y: -692px;
$product-title-width: 454px;
$product-title-height: 140px;
$product-title-total-width: 701px;
$product-title-total-height: 2434px;
$product-title-image: '../sprite/first-page-sprite.jpg';
$product-title: (0px, 692px, 0px, -692px, 454px, 140px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-title', );
$product-center-word-name: 'product-center-word';
$product-center-word-x: 0px;
$product-center-word-y: 832px;
$product-center-word-offset-x: 0px;
$product-center-word-offset-y: -832px;
$product-center-word-width: 379px;
$product-center-word-height: 187px;
$product-center-word-total-width: 701px;
$product-center-word-total-height: 2434px;
$product-center-word-image: '../sprite/first-page-sprite.jpg';
$product-center-word: (0px, 832px, 0px, -832px, 379px, 187px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-center-word', );
$first-page-static-word-name: 'first-page-static-word';
$first-page-static-word-x: 0px;
$first-page-static-word-y: 1019px;
$first-page-static-word-offset-x: 0px;
$first-page-static-word-offset-y: -1019px;
$first-page-static-word-width: 210px;
$first-page-static-word-height: 349px;
$first-page-static-word-total-width: 701px;
$first-page-static-word-total-height: 2434px;
$first-page-static-word-image: '../sprite/first-page-sprite.jpg';
$first-page-static-word: (0px, 1019px, 0px, -1019px, 210px, 349px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'first-page-static-word', );
$product-center-sprite-name: 'product-center-sprite';
$product-center-sprite-x: 0px;
$product-center-sprite-y: 1368px;
$product-center-sprite-offset-x: 0px;
$product-center-sprite-offset-y: -1368px;
$product-center-sprite-width: 701px;
$product-center-sprite-height: 379px;
$product-center-sprite-total-width: 701px;
$product-center-sprite-total-height: 2434px;
$product-center-sprite-image: '../sprite/first-page-sprite.jpg';
$product-center-sprite: (0px, 1368px, 0px, -1368px, 701px, 379px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'product-center-sprite', );
$first-page-center-name: 'first-page-center';
$first-page-center-x: 0px;
$first-page-center-y: 1747px;
$first-page-center-offset-x: 0px;
$first-page-center-offset-y: -1747px;
$first-page-center-width: 683px;
$first-page-center-height: 687px;
$first-page-center-total-width: 701px;
$first-page-center-total-height: 2434px;
$first-page-center-image: '../sprite/first-page-sprite.jpg';
$first-page-center: (0px, 1747px, 0px, -1747px, 683px, 687px, 701px, 2434px, '../sprite/first-page-sprite.jpg', 'first-page-center', );
$spritesheet-width: 701px;
$spritesheet-height: 2434px;
$spritesheet-image: '../sprite/first-page-sprite.jpg';
$spritesheet-sprites: ($product-triangle, $first-page-grid, $product-right-white-triangle, $product-left-white-triangle, $product-center-white-triangle, $first-page-dynamic-word, $first-page-top-right-star, $product-yellow-triangle, $first-page-top-left-star, $first-page-light, $product-title, $product-center-word, $first-page-static-word, $product-center-sprite, $first-page-center, );
$spritesheet: (701px, 2434px, '../sprite/first-page-sprite.jpg', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
