// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$question-head2-name: 'question-head2';
$question-head2-x: 0px;
$question-head2-y: 0px;
$question-head2-offset-x: 0px;
$question-head2-offset-y: 0px;
$question-head2-width: 646px;
$question-head2-height: 44px;
$question-head2-total-width: 646px;
$question-head2-total-height: 953px;
$question-head2-image: '../sprite/sprite_inners.jpg';
$question-head2: (0px, 0px, 0px, 0px, 646px, 44px, 646px, 953px, '../sprite/sprite_inners.jpg', 'question-head2', );
$only-sun-name: 'onlySun';
$only-sun-x: 0px;
$only-sun-y: 44px;
$only-sun-offset-x: 0px;
$only-sun-offset-y: -44px;
$only-sun-width: 140px;
$only-sun-height: 140px;
$only-sun-total-width: 646px;
$only-sun-total-height: 953px;
$only-sun-image: '../sprite/sprite_inners.jpg';
$only-sun: (0px, 44px, 0px, -44px, 140px, 140px, 646px, 953px, '../sprite/sprite_inners.jpg', 'onlySun', );
$loading-head1-name: 'loading-head1';
$loading-head1-x: 0px;
$loading-head1-y: 184px;
$loading-head1-offset-x: 0px;
$loading-head1-offset-y: -184px;
$loading-head1-width: 646px;
$loading-head1-height: 145px;
$loading-head1-total-width: 646px;
$loading-head1-total-height: 953px;
$loading-head1-image: '../sprite/sprite_inners.jpg';
$loading-head1: (0px, 184px, 0px, -184px, 646px, 145px, 646px, 953px, '../sprite/sprite_inners.jpg', 'loading-head1', );
$sun-name: 'sun';
$sun-x: 0px;
$sun-y: 329px;
$sun-offset-x: 0px;
$sun-offset-y: -329px;
$sun-width: 170px;
$sun-height: 170px;
$sun-total-width: 646px;
$sun-total-height: 953px;
$sun-image: '../sprite/sprite_inners.jpg';
$sun: (0px, 329px, 0px, -329px, 170px, 170px, 646px, 953px, '../sprite/sprite_inners.jpg', 'sun', );
$shouye-name: 'shouye';
$shouye-x: 0px;
$shouye-y: 499px;
$shouye-offset-x: 0px;
$shouye-offset-y: -499px;
$shouye-width: 454px;
$shouye-height: 454px;
$shouye-total-width: 646px;
$shouye-total-height: 953px;
$shouye-image: '../sprite/sprite_inners.jpg';
$shouye: (0px, 499px, 0px, -499px, 454px, 454px, 646px, 953px, '../sprite/sprite_inners.jpg', 'shouye', );
$spritesheet-width: 646px;
$spritesheet-height: 953px;
$spritesheet-image: '../sprite/sprite_inners.jpg';
$spritesheet-sprites: ($question-head2, $only-sun, $loading-head1, $sun, $shouye, );
$spritesheet: (646px, 953px, '../sprite/sprite_inners.jpg', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
