// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$design-bottom-left-gird3-name: 'design-bottom-left-gird3';
$design-bottom-left-gird3-x: 0px;
$design-bottom-left-gird3-y: 0px;
$design-bottom-left-gird3-offset-x: 0px;
$design-bottom-left-gird3-offset-y: 0px;
$design-bottom-left-gird3-width: 27px;
$design-bottom-left-gird3-height: 29px;
$design-bottom-left-gird3-total-width: 701px;
$design-bottom-left-gird3-total-height: 10528px;
$design-bottom-left-gird3-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird3: (0px, 0px, 0px, 0px, 27px, 29px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird3', );
$design-bottom-left-gird1-name: 'design-bottom-left-gird1';
$design-bottom-left-gird1-x: 0px;
$design-bottom-left-gird1-y: 29px;
$design-bottom-left-gird1-offset-x: 0px;
$design-bottom-left-gird1-offset-y: -29px;
$design-bottom-left-gird1-width: 33px;
$design-bottom-left-gird1-height: 35px;
$design-bottom-left-gird1-total-width: 701px;
$design-bottom-left-gird1-total-height: 10528px;
$design-bottom-left-gird1-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird1: (0px, 29px, 0px, -29px, 33px, 35px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird1', );
$design-right-smaller-yellow-gird-name: 'design-right-smaller-yellow-gird';
$design-right-smaller-yellow-gird-x: 0px;
$design-right-smaller-yellow-gird-y: 64px;
$design-right-smaller-yellow-gird-offset-x: 0px;
$design-right-smaller-yellow-gird-offset-y: -64px;
$design-right-smaller-yellow-gird-width: 35px;
$design-right-smaller-yellow-gird-height: 37px;
$design-right-smaller-yellow-gird-total-width: 701px;
$design-right-smaller-yellow-gird-total-height: 10528px;
$design-right-smaller-yellow-gird-image: '../sprite/first-page-sprite.jpg';
$design-right-smaller-yellow-gird: (0px, 64px, 0px, -64px, 35px, 37px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-right-smaller-yellow-gird', );
$first-page-grid-name: 'first-page-grid';
$first-page-grid-x: 0px;
$first-page-grid-y: 101px;
$first-page-grid-offset-x: 0px;
$first-page-grid-offset-y: -101px;
$first-page-grid-width: 55px;
$first-page-grid-height: 38px;
$first-page-grid-total-width: 701px;
$first-page-grid-total-height: 10528px;
$first-page-grid-image: '../sprite/first-page-sprite.jpg';
$first-page-grid: (0px, 101px, 0px, -101px, 55px, 38px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'first-page-grid', );
$design-right-bigger-yellow-grid-name: 'design-right-bigger-yellow-grid';
$design-right-bigger-yellow-grid-x: 0px;
$design-right-bigger-yellow-grid-y: 139px;
$design-right-bigger-yellow-grid-offset-x: 0px;
$design-right-bigger-yellow-grid-offset-y: -139px;
$design-right-bigger-yellow-grid-width: 39px;
$design-right-bigger-yellow-grid-height: 42px;
$design-right-bigger-yellow-grid-total-width: 701px;
$design-right-bigger-yellow-grid-total-height: 10528px;
$design-right-bigger-yellow-grid-image: '../sprite/first-page-sprite.jpg';
$design-right-bigger-yellow-grid: (0px, 139px, 0px, -139px, 39px, 42px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-right-bigger-yellow-grid', );
$design-bottom-left-gird2-name: 'design-bottom-left-gird2';
$design-bottom-left-gird2-x: 0px;
$design-bottom-left-gird2-y: 181px;
$design-bottom-left-gird2-offset-x: 0px;
$design-bottom-left-gird2-offset-y: -181px;
$design-bottom-left-gird2-width: 53px;
$design-bottom-left-gird2-height: 56px;
$design-bottom-left-gird2-total-width: 701px;
$design-bottom-left-gird2-total-height: 10528px;
$design-bottom-left-gird2-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird2: (0px, 181px, 0px, -181px, 53px, 56px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird2', );
$product-left-white-triangle-name: 'product-left-white-triangle';
$product-left-white-triangle-x: 0px;
$product-left-white-triangle-y: 237px;
$product-left-white-triangle-offset-x: 0px;
$product-left-white-triangle-offset-y: -237px;
$product-left-white-triangle-width: 35px;
$product-left-white-triangle-height: 60px;
$product-left-white-triangle-total-width: 701px;
$product-left-white-triangle-total-height: 10528px;
$product-left-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-left-white-triangle: (0px, 237px, 0px, -237px, 35px, 60px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-left-white-triangle', );
$product-right-white-triangle-name: 'product-right-white-triangle';
$product-right-white-triangle-x: 0px;
$product-right-white-triangle-y: 297px;
$product-right-white-triangle-offset-x: 0px;
$product-right-white-triangle-offset-y: -297px;
$product-right-white-triangle-width: 36px;
$product-right-white-triangle-height: 60px;
$product-right-white-triangle-total-width: 701px;
$product-right-white-triangle-total-height: 10528px;
$product-right-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-right-white-triangle: (0px, 297px, 0px, -297px, 36px, 60px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-right-white-triangle', );
$product-center-white-triangle-name: 'product-center-white-triangle';
$product-center-white-triangle-x: 0px;
$product-center-white-triangle-y: 357px;
$product-center-white-triangle-offset-x: 0px;
$product-center-white-triangle-offset-y: -357px;
$product-center-white-triangle-width: 68px;
$product-center-white-triangle-height: 60px;
$product-center-white-triangle-total-width: 701px;
$product-center-white-triangle-total-height: 10528px;
$product-center-white-triangle-image: '../sprite/first-page-sprite.jpg';
$product-center-white-triangle: (0px, 357px, 0px, -357px, 68px, 60px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-center-white-triangle', );
$design-bottom-left-gird4-name: 'design-bottom-left-gird4';
$design-bottom-left-gird4-x: 0px;
$design-bottom-left-gird4-y: 417px;
$design-bottom-left-gird4-offset-x: 0px;
$design-bottom-left-gird4-offset-y: -417px;
$design-bottom-left-gird4-width: 60px;
$design-bottom-left-gird4-height: 63px;
$design-bottom-left-gird4-total-width: 701px;
$design-bottom-left-gird4-total-height: 10528px;
$design-bottom-left-gird4-image: '../sprite/first-page-sprite.jpg';
$design-bottom-left-gird4: (0px, 417px, 0px, -417px, 60px, 63px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-bottom-left-gird4', );
$first-page-dynamic-word-name: 'first-page-dynamic-word';
$first-page-dynamic-word-x: 0px;
$first-page-dynamic-word-y: 480px;
$first-page-dynamic-word-offset-x: 0px;
$first-page-dynamic-word-offset-y: -480px;
$first-page-dynamic-word-width: 124px;
$first-page-dynamic-word-height: 64px;
$first-page-dynamic-word-total-width: 701px;
$first-page-dynamic-word-total-height: 10528px;
$first-page-dynamic-word-image: '../sprite/first-page-sprite.jpg';
$first-page-dynamic-word: (0px, 480px, 0px, -480px, 124px, 64px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'first-page-dynamic-word', );
$first-page-top-right-star-name: 'first-page-top-right-star';
$first-page-top-right-star-x: 0px;
$first-page-top-right-star-y: 544px;
$first-page-top-right-star-offset-x: 0px;
$first-page-top-right-star-offset-y: -544px;
$first-page-top-right-star-width: 72px;
$first-page-top-right-star-height: 65px;
$first-page-top-right-star-total-width: 701px;
$first-page-top-right-star-total-height: 10528px;
$first-page-top-right-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-right-star: (0px, 544px, 0px, -544px, 72px, 65px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'first-page-top-right-star', );
$web-center-word-p-name: 'web-center-word-p';
$web-center-word-p-x: 0px;
$web-center-word-p-y: 609px;
$web-center-word-p-offset-x: 0px;
$web-center-word-p-offset-y: -609px;
$web-center-word-p-width: 62px;
$web-center-word-p-height: 68px;
$web-center-word-p-total-width: 701px;
$web-center-word-p-total-height: 10528px;
$web-center-word-p-image: '../sprite/first-page-sprite.jpg';
$web-center-word-p: (0px, 609px, 0px, -609px, 62px, 68px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-center-word-p', );
$web-bottom-left-word2-name: 'web-bottom-left-word2';
$web-bottom-left-word2-x: 0px;
$web-bottom-left-word2-y: 677px;
$web-bottom-left-word2-offset-x: 0px;
$web-bottom-left-word2-offset-y: -677px;
$web-bottom-left-word2-width: 6px;
$web-bottom-left-word2-height: 72px;
$web-bottom-left-word2-total-width: 701px;
$web-bottom-left-word2-total-height: 10528px;
$web-bottom-left-word2-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word2: (0px, 677px, 0px, -677px, 6px, 72px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word2', );
$product-yellow-triangle-name: 'product-yellow-triangle';
$product-yellow-triangle-x: 0px;
$product-yellow-triangle-y: 749px;
$product-yellow-triangle-offset-x: 0px;
$product-yellow-triangle-offset-y: -749px;
$product-yellow-triangle-width: 71px;
$product-yellow-triangle-height: 76px;
$product-yellow-triangle-total-width: 701px;
$product-yellow-triangle-total-height: 10528px;
$product-yellow-triangle-image: '../sprite/first-page-sprite.jpg';
$product-yellow-triangle: (0px, 749px, 0px, -749px, 71px, 76px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-yellow-triangle', );
$design-title-name: 'design-title';
$design-title-x: 0px;
$design-title-y: 825px;
$design-title-offset-x: 0px;
$design-title-offset-y: -825px;
$design-title-width: 395px;
$design-title-height: 92px;
$design-title-total-width: 701px;
$design-title-total-height: 10528px;
$design-title-image: '../sprite/first-page-sprite.jpg';
$design-title: (0px, 825px, 0px, -825px, 395px, 92px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-title', );
$web-title-name: 'web-title';
$web-title-x: 0px;
$web-title-y: 917px;
$web-title-offset-x: 0px;
$web-title-offset-y: -917px;
$web-title-width: 432px;
$web-title-height: 92px;
$web-title-total-width: 701px;
$web-title-total-height: 10528px;
$web-title-image: '../sprite/first-page-sprite.jpg';
$web-title: (0px, 917px, 0px, -917px, 432px, 92px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-title', );
$android-title-name: 'android-title';
$android-title-x: 0px;
$android-title-y: 1009px;
$android-title-offset-x: 0px;
$android-title-offset-y: -1009px;
$android-title-width: 407px;
$android-title-height: 93px;
$android-title-total-width: 701px;
$android-title-total-height: 10528px;
$android-title-image: '../sprite/first-page-sprite.jpg';
$android-title: (0px, 1009px, 0px, -1009px, 407px, 93px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'android-title', );
$android-center-light-name: 'android-center-light';
$android-center-light-x: 0px;
$android-center-light-y: 1102px;
$android-center-light-offset-x: 0px;
$android-center-light-offset-y: -1102px;
$android-center-light-width: 128px;
$android-center-light-height: 93px;
$android-center-light-total-width: 701px;
$android-center-light-total-height: 10528px;
$android-center-light-image: '../sprite/first-page-sprite.jpg';
$android-center-light: (0px, 1102px, 0px, -1102px, 128px, 93px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'android-center-light', );
$first-page-top-left-star-name: 'first-page-top-left-star';
$first-page-top-left-star-x: 0px;
$first-page-top-left-star-y: 1195px;
$first-page-top-left-star-offset-x: 0px;
$first-page-top-left-star-offset-y: -1195px;
$first-page-top-left-star-width: 150px;
$first-page-top-left-star-height: 101px;
$first-page-top-left-star-total-width: 701px;
$first-page-top-left-star-total-height: 10528px;
$first-page-top-left-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-left-star: (0px, 1195px, 0px, -1195px, 150px, 101px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'first-page-top-left-star', );
$design-left-white-gird-name: 'design-left-white-gird';
$design-left-white-gird-x: 0px;
$design-left-white-gird-y: 1296px;
$design-left-white-gird-offset-x: 0px;
$design-left-white-gird-offset-y: -1296px;
$design-left-white-gird-width: 120px;
$design-left-white-gird-height: 102px;
$design-left-white-gird-total-width: 701px;
$design-left-white-gird-total-height: 10528px;
$design-left-white-gird-image: '../sprite/first-page-sprite.jpg';
$design-left-white-gird: (0px, 1296px, 0px, -1296px, 120px, 102px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-left-white-gird', );
$product-triangle-name: 'product-triangle';
$product-triangle-x: 0px;
$product-triangle-y: 1398px;
$product-triangle-offset-x: 0px;
$product-triangle-offset-y: -1398px;
$product-triangle-width: 128px;
$product-triangle-height: 123px;
$product-triangle-total-width: 701px;
$product-triangle-total-height: 10528px;
$product-triangle-image: '../sprite/first-page-sprite.jpg';
$product-triangle: (0px, 1398px, 0px, -1398px, 128px, 123px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-triangle', );
$web-center-white-light-name: 'web-center-white-light';
$web-center-white-light-x: 0px;
$web-center-white-light-y: 1521px;
$web-center-white-light-offset-x: 0px;
$web-center-white-light-offset-y: -1521px;
$web-center-white-light-width: 198px;
$web-center-white-light-height: 124px;
$web-center-white-light-total-width: 701px;
$web-center-white-light-total-height: 10528px;
$web-center-white-light-image: '../sprite/first-page-sprite.jpg';
$web-center-white-light: (0px, 1521px, 0px, -1521px, 198px, 124px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-center-white-light', );
$android-center-word-name: 'android-center-word';
$android-center-word-x: 0px;
$android-center-word-y: 1645px;
$android-center-word-offset-x: 0px;
$android-center-word-offset-y: -1645px;
$android-center-word-width: 345px;
$android-center-word-height: 136px;
$android-center-word-total-width: 701px;
$android-center-word-total-height: 10528px;
$android-center-word-image: '../sprite/first-page-sprite.jpg';
$android-center-word: (0px, 1645px, 0px, -1645px, 345px, 136px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'android-center-word', );
$first-page-light-name: 'first-page-light';
$first-page-light-x: 0px;
$first-page-light-y: 1781px;
$first-page-light-offset-x: 0px;
$first-page-light-offset-y: -1781px;
$first-page-light-width: 228px;
$first-page-light-height: 137px;
$first-page-light-total-width: 701px;
$first-page-light-total-height: 10528px;
$first-page-light-image: '../sprite/first-page-sprite.jpg';
$first-page-light: (0px, 1781px, 0px, -1781px, 228px, 137px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'first-page-light', );
$android-left-yellow-triangle-name: 'android-left-yellow-triangle';
$android-left-yellow-triangle-x: 0px;
$android-left-yellow-triangle-y: 1918px;
$android-left-yellow-triangle-offset-x: 0px;
$android-left-yellow-triangle-offset-y: -1918px;
$android-left-yellow-triangle-width: 117px;
$android-left-yellow-triangle-height: 140px;
$android-left-yellow-triangle-total-width: 701px;
$android-left-yellow-triangle-total-height: 10528px;
$android-left-yellow-triangle-image: '../sprite/first-page-sprite.jpg';
$android-left-yellow-triangle: (0px, 1918px, 0px, -1918px, 117px, 140px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'android-left-yellow-triangle', );
$product-title-name: 'product-title';
$product-title-x: 0px;
$product-title-y: 2058px;
$product-title-offset-x: 0px;
$product-title-offset-y: -2058px;
$product-title-width: 454px;
$product-title-height: 140px;
$product-title-total-width: 701px;
$product-title-total-height: 10528px;
$product-title-image: '../sprite/first-page-sprite.jpg';
$product-title: (0px, 2058px, 0px, -2058px, 454px, 140px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-title', );
$web-bottom-left-word4-name: 'web-bottom-left-word4';
$web-bottom-left-word4-x: 0px;
$web-bottom-left-word4-y: 2198px;
$web-bottom-left-word4-offset-x: 0px;
$web-bottom-left-word4-offset-y: -2198px;
$web-bottom-left-word4-width: 29px;
$web-bottom-left-word4-height: 156px;
$web-bottom-left-word4-total-width: 701px;
$web-bottom-left-word4-total-height: 10528px;
$web-bottom-left-word4-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word4: (0px, 2198px, 0px, -2198px, 29px, 156px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word4', );
$web-center-word-name: 'web-center-word';
$web-center-word-x: 0px;
$web-center-word-y: 2354px;
$web-center-word-offset-x: 0px;
$web-center-word-offset-y: -2354px;
$web-center-word-width: 183px;
$web-center-word-height: 157px;
$web-center-word-total-width: 701px;
$web-center-word-total-height: 10528px;
$web-center-word-image: '../sprite/first-page-sprite.jpg';
$web-center-word: (0px, 2354px, 0px, -2354px, 183px, 157px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-center-word', );
$design-center-word-name: 'design-center-word';
$design-center-word-x: 0px;
$design-center-word-y: 2511px;
$design-center-word-offset-x: 0px;
$design-center-word-offset-y: -2511px;
$design-center-word-width: 425px;
$design-center-word-height: 169px;
$design-center-word-total-width: 701px;
$design-center-word-total-height: 10528px;
$design-center-word-image: '../sprite/first-page-sprite.jpg';
$design-center-word: (0px, 2511px, 0px, -2511px, 425px, 169px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-center-word', );
$android-left-root-name: 'android-left-root';
$android-left-root-x: 0px;
$android-left-root-y: 2680px;
$android-left-root-offset-x: 0px;
$android-left-root-offset-y: -2680px;
$android-left-root-width: 61px;
$android-left-root-height: 171px;
$android-left-root-total-width: 701px;
$android-left-root-total-height: 10528px;
$android-left-root-image: '../sprite/first-page-sprite.jpg';
$android-left-root: (0px, 2680px, 0px, -2680px, 61px, 171px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'android-left-root', );
$product-center-word-name: 'product-center-word';
$product-center-word-x: 0px;
$product-center-word-y: 2851px;
$product-center-word-offset-x: 0px;
$product-center-word-offset-y: -2851px;
$product-center-word-width: 379px;
$product-center-word-height: 187px;
$product-center-word-total-width: 701px;
$product-center-word-total-height: 10528px;
$product-center-word-image: '../sprite/first-page-sprite.jpg';
$product-center-word: (0px, 2851px, 0px, -2851px, 379px, 187px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-center-word', );
$web-bottom-left-word3-name: 'web-bottom-left-word3';
$web-bottom-left-word3-x: 0px;
$web-bottom-left-word3-y: 3038px;
$web-bottom-left-word3-offset-x: 0px;
$web-bottom-left-word3-offset-y: -3038px;
$web-bottom-left-word3-width: 28px;
$web-bottom-left-word3-height: 281px;
$web-bottom-left-word3-total-width: 701px;
$web-bottom-left-word3-total-height: 10528px;
$web-bottom-left-word3-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word3: (0px, 3038px, 0px, -3038px, 28px, 281px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word3', );
$design-right-box-name: 'design-right-box';
$design-right-box-x: 0px;
$design-right-box-y: 3319px;
$design-right-box-offset-x: 0px;
$design-right-box-offset-y: -3319px;
$design-right-box-width: 415px;
$design-right-box-height: 323px;
$design-right-box-total-width: 701px;
$design-right-box-total-height: 10528px;
$design-right-box-image: '../sprite/first-page-sprite.jpg';
$design-right-box: (0px, 3319px, 0px, -3319px, 415px, 323px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-right-box', );
$web-bottom-left-word1-name: 'web-bottom-left-word1';
$web-bottom-left-word1-x: 0px;
$web-bottom-left-word1-y: 3642px;
$web-bottom-left-word1-offset-x: 0px;
$web-bottom-left-word1-offset-y: -3642px;
$web-bottom-left-word1-width: 39px;
$web-bottom-left-word1-height: 342px;
$web-bottom-left-word1-total-width: 701px;
$web-bottom-left-word1-total-height: 10528px;
$web-bottom-left-word1-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word1: (0px, 3642px, 0px, -3642px, 39px, 342px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word1', );
$first-page-static-word-name: 'first-page-static-word';
$first-page-static-word-x: 0px;
$first-page-static-word-y: 3984px;
$first-page-static-word-offset-x: 0px;
$first-page-static-word-offset-y: -3984px;
$first-page-static-word-width: 210px;
$first-page-static-word-height: 349px;
$first-page-static-word-total-width: 701px;
$first-page-static-word-total-height: 10528px;
$first-page-static-word-image: '../sprite/first-page-sprite.jpg';
$first-page-static-word: (0px, 3984px, 0px, -3984px, 210px, 349px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'first-page-static-word', );
$web-bottom-left-word5-name: 'web-bottom-left-word5';
$web-bottom-left-word5-x: 0px;
$web-bottom-left-word5-y: 4333px;
$web-bottom-left-word5-offset-x: 0px;
$web-bottom-left-word5-offset-y: -4333px;
$web-bottom-left-word5-width: 7px;
$web-bottom-left-word5-height: 373px;
$web-bottom-left-word5-total-width: 701px;
$web-bottom-left-word5-total-height: 10528px;
$web-bottom-left-word5-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word5: (0px, 4333px, 0px, -4333px, 7px, 373px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word5', );
$design-center-sprite-name: 'design-center-sprite';
$design-center-sprite-x: 0px;
$design-center-sprite-y: 4706px;
$design-center-sprite-offset-x: 0px;
$design-center-sprite-offset-y: -4706px;
$design-center-sprite-width: 590px;
$design-center-sprite-height: 375px;
$design-center-sprite-total-width: 701px;
$design-center-sprite-total-height: 10528px;
$design-center-sprite-image: '../sprite/first-page-sprite.jpg';
$design-center-sprite: (0px, 4706px, 0px, -4706px, 590px, 375px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'design-center-sprite', );
$product-center-sprite-name: 'product-center-sprite';
$product-center-sprite-x: 0px;
$product-center-sprite-y: 5081px;
$product-center-sprite-offset-x: 0px;
$product-center-sprite-offset-y: -5081px;
$product-center-sprite-width: 701px;
$product-center-sprite-height: 379px;
$product-center-sprite-total-width: 701px;
$product-center-sprite-total-height: 10528px;
$product-center-sprite-image: '../sprite/first-page-sprite.jpg';
$product-center-sprite: (0px, 5081px, 0px, -5081px, 701px, 379px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'product-center-sprite', );
$panoramic-click-star-name: 'panoramic-click-star';
$panoramic-click-star-x: 0px;
$panoramic-click-star-y: 5460px;
$panoramic-click-star-offset-x: 0px;
$panoramic-click-star-offset-y: -5460px;
$panoramic-click-star-width: 588px;
$panoramic-click-star-height: 425px;
$panoramic-click-star-total-width: 701px;
$panoramic-click-star-total-height: 10528px;
$panoramic-click-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-click-star: (0px, 5460px, 0px, -5460px, 588px, 425px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'panoramic-click-star', );
$web-center-sprite-name: 'web-center-sprite';
$web-center-sprite-x: 0px;
$web-center-sprite-y: 5885px;
$web-center-sprite-offset-x: 0px;
$web-center-sprite-offset-y: -5885px;
$web-center-sprite-width: 371px;
$web-center-sprite-height: 427px;
$web-center-sprite-total-width: 701px;
$web-center-sprite-total-height: 10528px;
$web-center-sprite-image: '../sprite/first-page-sprite.jpg';
$web-center-sprite: (0px, 5885px, 0px, -5885px, 371px, 427px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'web-center-sprite', );
$android-center-grid-name: 'android-center-grid';
$android-center-grid-x: 0px;
$android-center-grid-y: 6312px;
$android-center-grid-offset-x: 0px;
$android-center-grid-offset-y: -6312px;
$android-center-grid-width: 356px;
$android-center-grid-height: 467px;
$android-center-grid-total-width: 701px;
$android-center-grid-total-height: 10528px;
$android-center-grid-image: '../sprite/first-page-sprite.jpg';
$android-center-grid: (0px, 6312px, 0px, -6312px, 356px, 467px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'android-center-grid', );
$android-center-sprite-name: 'android-center-sprite';
$android-center-sprite-x: 0px;
$android-center-sprite-y: 6779px;
$android-center-sprite-offset-x: 0px;
$android-center-sprite-offset-y: -6779px;
$android-center-sprite-width: 519px;
$android-center-sprite-height: 503px;
$android-center-sprite-total-width: 701px;
$android-center-sprite-total-height: 10528px;
$android-center-sprite-image: '../sprite/first-page-sprite.jpg';
$android-center-sprite: (0px, 6779px, 0px, -6779px, 519px, 503px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'android-center-sprite', );
$panoramic-design-star-name: 'panoramic-design-star';
$panoramic-design-star-x: 0px;
$panoramic-design-star-y: 7282px;
$panoramic-design-star-offset-x: 0px;
$panoramic-design-star-offset-y: -7282px;
$panoramic-design-star-width: 555px;
$panoramic-design-star-height: 591px;
$panoramic-design-star-total-width: 701px;
$panoramic-design-star-total-height: 10528px;
$panoramic-design-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-design-star: (0px, 7282px, 0px, -7282px, 555px, 591px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'panoramic-design-star', );
$panoramic-web-star-name: 'panoramic-web-star';
$panoramic-web-star-x: 0px;
$panoramic-web-star-y: 7873px;
$panoramic-web-star-offset-x: 0px;
$panoramic-web-star-offset-y: -7873px;
$panoramic-web-star-width: 516px;
$panoramic-web-star-height: 618px;
$panoramic-web-star-total-width: 701px;
$panoramic-web-star-total-height: 10528px;
$panoramic-web-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-web-star: (0px, 7873px, 0px, -7873px, 516px, 618px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'panoramic-web-star', );
$panoramic-android-star-name: 'panoramic-android-star';
$panoramic-android-star-x: 0px;
$panoramic-android-star-y: 8491px;
$panoramic-android-star-offset-x: 0px;
$panoramic-android-star-offset-y: -8491px;
$panoramic-android-star-width: 474px;
$panoramic-android-star-height: 665px;
$panoramic-android-star-total-width: 701px;
$panoramic-android-star-total-height: 10528px;
$panoramic-android-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-android-star: (0px, 8491px, 0px, -8491px, 474px, 665px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'panoramic-android-star', );
$panoramic-product-star-name: 'panoramic-product-star';
$panoramic-product-star-x: 0px;
$panoramic-product-star-y: 9156px;
$panoramic-product-star-offset-x: 0px;
$panoramic-product-star-offset-y: -9156px;
$panoramic-product-star-width: 463px;
$panoramic-product-star-height: 685px;
$panoramic-product-star-total-width: 701px;
$panoramic-product-star-total-height: 10528px;
$panoramic-product-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-product-star: (0px, 9156px, 0px, -9156px, 463px, 685px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'panoramic-product-star', );
$first-page-center-name: 'first-page-center';
$first-page-center-x: 0px;
$first-page-center-y: 9841px;
$first-page-center-offset-x: 0px;
$first-page-center-offset-y: -9841px;
$first-page-center-width: 683px;
$first-page-center-height: 687px;
$first-page-center-total-width: 701px;
$first-page-center-total-height: 10528px;
$first-page-center-image: '../sprite/first-page-sprite.jpg';
$first-page-center: (0px, 9841px, 0px, -9841px, 683px, 687px, 701px, 10528px, '../sprite/first-page-sprite.jpg', 'first-page-center', );
$spritesheet-width: 701px;
$spritesheet-height: 10528px;
$spritesheet-image: '../sprite/first-page-sprite.jpg';
$spritesheet-sprites: ($design-bottom-left-gird3, $design-bottom-left-gird1, $design-right-smaller-yellow-gird, $first-page-grid, $design-right-bigger-yellow-grid, $design-bottom-left-gird2, $product-left-white-triangle, $product-right-white-triangle, $product-center-white-triangle, $design-bottom-left-gird4, $first-page-dynamic-word, $first-page-top-right-star, $web-center-word-p, $web-bottom-left-word2, $product-yellow-triangle, $design-title, $web-title, $android-title, $android-center-light, $first-page-top-left-star, $design-left-white-gird, $product-triangle, $web-center-white-light, $android-center-word, $first-page-light, $android-left-yellow-triangle, $product-title, $web-bottom-left-word4, $web-center-word, $design-center-word, $android-left-root, $product-center-word, $web-bottom-left-word3, $design-right-box, $web-bottom-left-word1, $first-page-static-word, $web-bottom-left-word5, $design-center-sprite, $product-center-sprite, $panoramic-click-star, $web-center-sprite, $android-center-grid, $android-center-sprite, $panoramic-design-star, $panoramic-web-star, $panoramic-android-star, $panoramic-product-star, $first-page-center, );
$spritesheet: (701px, 10528px, '../sprite/first-page-sprite.jpg', $spritesheet-sprites, );


// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
    width: 90%;
  }
  
  @mixin sprite-height($sprite) {
    height:90%;
  }
  
  @mixin sprite-size($sprite,$img_height) {
      $sprite-total-height: nth($sprite, 8);
      background-size: auto  ($sprite-total-height / $img_height) * 100%;
      }
  @mixin sprite-position($sprite,$img_height) {
      $sprite-total-height: nth($sprite, 8);
      $sprite-total-width: nth($sprite, 7);
      $sprite-y: nth($sprite, 2) / ($sprite-total-height - $img_height) * 100%;
      background-position: 0  $sprite-y;
  }
  
  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }
  
  @mixin sprite($sprite,$img_height) {
    @include sprite-size($sprite,$img_height);
    @include sprite-image($sprite);
    @include sprite-position($sprite,$img_height);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }