// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$product-center-diamond-name: 'product-center-diamond';
$product-center-diamond-x: 0px;
$product-center-diamond-y: 0px;
$product-center-diamond-offset-x: 0px;
$product-center-diamond-offset-y: 0px;
$product-center-diamond-width: 98px;
$product-center-diamond-height: 21px;
$product-center-diamond-total-width: 683px;
$product-center-diamond-total-height: 9293px;
$product-center-diamond-image: '../sprite/first-page-sprite.jpg';
$product-center-diamond: (0px, 0px, 0px, 0px, 98px, 21px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'product-center-diamond', );
$first-page-grid-name: 'first-page-grid';
$first-page-grid-x: 0px;
$first-page-grid-y: 21px;
$first-page-grid-offset-x: 0px;
$first-page-grid-offset-y: -21px;
$first-page-grid-width: 55px;
$first-page-grid-height: 38px;
$first-page-grid-total-width: 683px;
$first-page-grid-total-height: 9293px;
$first-page-grid-image: '../sprite/first-page-sprite.jpg';
$first-page-grid: (0px, 21px, 0px, -21px, 55px, 38px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'first-page-grid', );
$first-page-dynamic-word-name: 'first-page-dynamic-word';
$first-page-dynamic-word-x: 0px;
$first-page-dynamic-word-y: 59px;
$first-page-dynamic-word-offset-x: 0px;
$first-page-dynamic-word-offset-y: -59px;
$first-page-dynamic-word-width: 124px;
$first-page-dynamic-word-height: 64px;
$first-page-dynamic-word-total-width: 683px;
$first-page-dynamic-word-total-height: 9293px;
$first-page-dynamic-word-image: '../sprite/first-page-sprite.jpg';
$first-page-dynamic-word: (0px, 59px, 0px, -59px, 124px, 64px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'first-page-dynamic-word', );
$first-page-top-right-star-name: 'first-page-top-right-star';
$first-page-top-right-star-x: 0px;
$first-page-top-right-star-y: 123px;
$first-page-top-right-star-offset-x: 0px;
$first-page-top-right-star-offset-y: -123px;
$first-page-top-right-star-width: 72px;
$first-page-top-right-star-height: 65px;
$first-page-top-right-star-total-width: 683px;
$first-page-top-right-star-total-height: 9293px;
$first-page-top-right-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-right-star: (0px, 123px, 0px, -123px, 72px, 65px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'first-page-top-right-star', );
$web-center-word-p-name: 'web-center-word-p';
$web-center-word-p-x: 0px;
$web-center-word-p-y: 188px;
$web-center-word-p-offset-x: 0px;
$web-center-word-p-offset-y: -188px;
$web-center-word-p-width: 62px;
$web-center-word-p-height: 68px;
$web-center-word-p-total-width: 683px;
$web-center-word-p-total-height: 9293px;
$web-center-word-p-image: '../sprite/first-page-sprite.jpg';
$web-center-word-p: (0px, 188px, 0px, -188px, 62px, 68px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-center-word-p', );
$web-bottom-left-word2-name: 'web-bottom-left-word2';
$web-bottom-left-word2-x: 0px;
$web-bottom-left-word2-y: 256px;
$web-bottom-left-word2-offset-x: 0px;
$web-bottom-left-word2-offset-y: -256px;
$web-bottom-left-word2-width: 6px;
$web-bottom-left-word2-height: 72px;
$web-bottom-left-word2-total-width: 683px;
$web-bottom-left-word2-total-height: 9293px;
$web-bottom-left-word2-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word2: (0px, 256px, 0px, -256px, 6px, 72px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word2', );
$web-title-name: 'web-title';
$web-title-x: 0px;
$web-title-y: 328px;
$web-title-offset-x: 0px;
$web-title-offset-y: -328px;
$web-title-width: 432px;
$web-title-height: 92px;
$web-title-total-width: 683px;
$web-title-total-height: 9293px;
$web-title-image: '../sprite/first-page-sprite.jpg';
$web-title: (0px, 328px, 0px, -328px, 432px, 92px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-title', );
$first-page-top-left-star-name: 'first-page-top-left-star';
$first-page-top-left-star-x: 0px;
$first-page-top-left-star-y: 420px;
$first-page-top-left-star-offset-x: 0px;
$first-page-top-left-star-offset-y: -420px;
$first-page-top-left-star-width: 150px;
$first-page-top-left-star-height: 101px;
$first-page-top-left-star-total-width: 683px;
$first-page-top-left-star-total-height: 9293px;
$first-page-top-left-star-image: '../sprite/first-page-sprite.jpg';
$first-page-top-left-star: (0px, 420px, 0px, -420px, 150px, 101px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'first-page-top-left-star', );
$web-center-white-light-name: 'web-center-white-light';
$web-center-white-light-x: 0px;
$web-center-white-light-y: 521px;
$web-center-white-light-offset-x: 0px;
$web-center-white-light-offset-y: -521px;
$web-center-white-light-width: 178px;
$web-center-white-light-height: 118px;
$web-center-white-light-total-width: 683px;
$web-center-white-light-total-height: 9293px;
$web-center-white-light-image: '../sprite/first-page-sprite.jpg';
$web-center-white-light: (0px, 521px, 0px, -521px, 178px, 118px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-center-white-light', );
$product-triangle-name: 'product-triangle';
$product-triangle-x: 0px;
$product-triangle-y: 639px;
$product-triangle-offset-x: 0px;
$product-triangle-offset-y: -639px;
$product-triangle-width: 128px;
$product-triangle-height: 123px;
$product-triangle-total-width: 683px;
$product-triangle-total-height: 9293px;
$product-triangle-image: '../sprite/first-page-sprite.jpg';
$product-triangle: (0px, 639px, 0px, -639px, 128px, 123px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'product-triangle', );
$first-page-light-name: 'first-page-light';
$first-page-light-x: 0px;
$first-page-light-y: 762px;
$first-page-light-offset-x: 0px;
$first-page-light-offset-y: -762px;
$first-page-light-width: 228px;
$first-page-light-height: 137px;
$first-page-light-total-width: 683px;
$first-page-light-total-height: 9293px;
$first-page-light-image: '../sprite/first-page-sprite.jpg';
$first-page-light: (0px, 762px, 0px, -762px, 228px, 137px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'first-page-light', );
$product-bottom-word-short-name: 'product-bottom-word-short';
$product-bottom-word-short-x: 0px;
$product-bottom-word-short-y: 899px;
$product-bottom-word-short-offset-x: 0px;
$product-bottom-word-short-offset-y: -899px;
$product-bottom-word-short-width: 22px;
$product-bottom-word-short-height: 152px;
$product-bottom-word-short-total-width: 683px;
$product-bottom-word-short-total-height: 9293px;
$product-bottom-word-short-image: '../sprite/first-page-sprite.jpg';
$product-bottom-word-short: (0px, 899px, 0px, -899px, 22px, 152px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'product-bottom-word-short', );
$design-grid-name: 'design-grid';
$design-grid-x: 0px;
$design-grid-y: 1051px;
$design-grid-offset-x: 0px;
$design-grid-offset-y: -1051px;
$design-grid-width: 154px;
$design-grid-height: 153px;
$design-grid-total-width: 683px;
$design-grid-total-height: 9293px;
$design-grid-image: '../sprite/first-page-sprite.jpg';
$design-grid: (0px, 1051px, 0px, -1051px, 154px, 153px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'design-grid', );
$android-center-picture-name: 'android-center-picture';
$android-center-picture-x: 0px;
$android-center-picture-y: 1204px;
$android-center-picture-offset-x: 0px;
$android-center-picture-offset-y: -1204px;
$android-center-picture-width: 153px;
$android-center-picture-height: 164px;
$android-center-picture-total-width: 683px;
$android-center-picture-total-height: 9293px;
$android-center-picture-image: '../sprite/first-page-sprite.jpg';
$android-center-picture: (0px, 1204px, 0px, -1204px, 153px, 164px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'android-center-picture', );
$web-bottom-left-word4-name: 'web-bottom-left-word4';
$web-bottom-left-word4-x: 0px;
$web-bottom-left-word4-y: 1368px;
$web-bottom-left-word4-offset-x: 0px;
$web-bottom-left-word4-offset-y: -1368px;
$web-bottom-left-word4-width: 126px;
$web-bottom-left-word4-height: 217px;
$web-bottom-left-word4-total-width: 683px;
$web-bottom-left-word4-total-height: 9293px;
$web-bottom-left-word4-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word4: (0px, 1368px, 0px, -1368px, 126px, 217px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word4', );
$product-bottom-word-large-name: 'product-bottom-word-large';
$product-bottom-word-large-x: 0px;
$product-bottom-word-large-y: 1585px;
$product-bottom-word-large-offset-x: 0px;
$product-bottom-word-large-offset-y: -1585px;
$product-bottom-word-large-width: 11px;
$product-bottom-word-large-height: 218px;
$product-bottom-word-large-total-width: 683px;
$product-bottom-word-large-total-height: 9293px;
$product-bottom-word-large-image: '../sprite/first-page-sprite.jpg';
$product-bottom-word-large: (0px, 1585px, 0px, -1585px, 11px, 218px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'product-bottom-word-large', );
$first-page-static-word-name: 'first-page-static-word';
$first-page-static-word-x: 0px;
$first-page-static-word-y: 1803px;
$first-page-static-word-offset-x: 0px;
$first-page-static-word-offset-y: -1803px;
$first-page-static-word-width: 210px;
$first-page-static-word-height: 349px;
$first-page-static-word-total-width: 683px;
$first-page-static-word-total-height: 9293px;
$first-page-static-word-image: '../sprite/first-page-sprite.jpg';
$first-page-static-word: (0px, 1803px, 0px, -1803px, 210px, 349px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'first-page-static-word', );
$web-bottom-left-word1-name: 'web-bottom-left-word1';
$web-bottom-left-word1-x: 0px;
$web-bottom-left-word1-y: 2152px;
$web-bottom-left-word1-offset-x: 0px;
$web-bottom-left-word1-offset-y: -2152px;
$web-bottom-left-word1-width: 137px;
$web-bottom-left-word1-height: 357px;
$web-bottom-left-word1-total-width: 683px;
$web-bottom-left-word1-total-height: 9293px;
$web-bottom-left-word1-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word1: (0px, 2152px, 0px, -2152px, 137px, 357px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word1', );
$android-center-sprite-name: 'android-center-sprite';
$android-center-sprite-x: 0px;
$android-center-sprite-y: 2509px;
$android-center-sprite-offset-x: 0px;
$android-center-sprite-offset-y: -2509px;
$android-center-sprite-width: 466px;
$android-center-sprite-height: 381px;
$android-center-sprite-total-width: 683px;
$android-center-sprite-total-height: 9293px;
$android-center-sprite-image: '../sprite/first-page-sprite.jpg';
$android-center-sprite: (0px, 2509px, 0px, -2509px, 466px, 381px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'android-center-sprite', );
$web-bottom-left-word5-name: 'web-bottom-left-word5';
$web-bottom-left-word5-x: 0px;
$web-bottom-left-word5-y: 2890px;
$web-bottom-left-word5-offset-x: 0px;
$web-bottom-left-word5-offset-y: -2890px;
$web-bottom-left-word5-width: 34px;
$web-bottom-left-word5-height: 400px;
$web-bottom-left-word5-total-width: 683px;
$web-bottom-left-word5-total-height: 9293px;
$web-bottom-left-word5-image: '../sprite/first-page-sprite.jpg';
$web-bottom-left-word5: (0px, 2890px, 0px, -2890px, 34px, 400px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-bottom-left-word5', );
$android-near-words-name: 'android-near-words';
$android-near-words-x: 0px;
$android-near-words-y: 3290px;
$android-near-words-offset-x: 0px;
$android-near-words-offset-y: -3290px;
$android-near-words-width: 272px;
$android-near-words-height: 408px;
$android-near-words-total-width: 683px;
$android-near-words-total-height: 9293px;
$android-near-words-image: '../sprite/first-page-sprite.jpg';
$android-near-words: (0px, 3290px, 0px, -3290px, 272px, 408px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'android-near-words', );
$panoramic-click-star-name: 'panoramic-click-star';
$panoramic-click-star-x: 0px;
$panoramic-click-star-y: 3698px;
$panoramic-click-star-offset-x: 0px;
$panoramic-click-star-offset-y: -3698px;
$panoramic-click-star-width: 588px;
$panoramic-click-star-height: 425px;
$panoramic-click-star-total-width: 683px;
$panoramic-click-star-total-height: 9293px;
$panoramic-click-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-click-star: (0px, 3698px, 0px, -3698px, 588px, 425px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'panoramic-click-star', );
$design-center-sprite-name: 'design-center-sprite';
$design-center-sprite-x: 0px;
$design-center-sprite-y: 4123px;
$design-center-sprite-offset-x: 0px;
$design-center-sprite-offset-y: -4123px;
$design-center-sprite-width: 666px;
$design-center-sprite-height: 428px;
$design-center-sprite-total-width: 683px;
$design-center-sprite-total-height: 9293px;
$design-center-sprite-image: '../sprite/first-page-sprite.jpg';
$design-center-sprite: (0px, 4123px, 0px, -4123px, 666px, 428px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'design-center-sprite', );
$web-center-sprite-name: 'web-center-sprite';
$web-center-sprite-x: 0px;
$web-center-sprite-y: 4551px;
$web-center-sprite-offset-x: 0px;
$web-center-sprite-offset-y: -4551px;
$web-center-sprite-width: 403px;
$web-center-sprite-height: 475px;
$web-center-sprite-total-width: 683px;
$web-center-sprite-total-height: 9293px;
$web-center-sprite-image: '../sprite/first-page-sprite.jpg';
$web-center-sprite: (0px, 4551px, 0px, -4551px, 403px, 475px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'web-center-sprite', );
$product-center-sprite-name: 'product-center-sprite';
$product-center-sprite-x: 0px;
$product-center-sprite-y: 5026px;
$product-center-sprite-offset-x: 0px;
$product-center-sprite-offset-y: -5026px;
$product-center-sprite-width: 662px;
$product-center-sprite-height: 505px;
$product-center-sprite-total-width: 683px;
$product-center-sprite-total-height: 9293px;
$product-center-sprite-image: '../sprite/first-page-sprite.jpg';
$product-center-sprite: (0px, 5026px, 0px, -5026px, 662px, 505px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'product-center-sprite', );
$android-away-words-name: 'android-away-words';
$android-away-words-x: 0px;
$android-away-words-y: 5531px;
$android-away-words-offset-x: 0px;
$android-away-words-offset-y: -5531px;
$android-away-words-width: 443px;
$android-away-words-height: 516px;
$android-away-words-total-width: 683px;
$android-away-words-total-height: 9293px;
$android-away-words-image: '../sprite/first-page-sprite.jpg';
$android-away-words: (0px, 5531px, 0px, -5531px, 443px, 516px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'android-away-words', );
$panoramic-design-star-name: 'panoramic-design-star';
$panoramic-design-star-x: 0px;
$panoramic-design-star-y: 6047px;
$panoramic-design-star-offset-x: 0px;
$panoramic-design-star-offset-y: -6047px;
$panoramic-design-star-width: 555px;
$panoramic-design-star-height: 591px;
$panoramic-design-star-total-width: 683px;
$panoramic-design-star-total-height: 9293px;
$panoramic-design-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-design-star: (0px, 6047px, 0px, -6047px, 555px, 591px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'panoramic-design-star', );
$panoramic-web-star-name: 'panoramic-web-star';
$panoramic-web-star-x: 0px;
$panoramic-web-star-y: 6638px;
$panoramic-web-star-offset-x: 0px;
$panoramic-web-star-offset-y: -6638px;
$panoramic-web-star-width: 516px;
$panoramic-web-star-height: 618px;
$panoramic-web-star-total-width: 683px;
$panoramic-web-star-total-height: 9293px;
$panoramic-web-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-web-star: (0px, 6638px, 0px, -6638px, 516px, 618px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'panoramic-web-star', );
$panoramic-android-star-name: 'panoramic-android-star';
$panoramic-android-star-x: 0px;
$panoramic-android-star-y: 7256px;
$panoramic-android-star-offset-x: 0px;
$panoramic-android-star-offset-y: -7256px;
$panoramic-android-star-width: 474px;
$panoramic-android-star-height: 665px;
$panoramic-android-star-total-width: 683px;
$panoramic-android-star-total-height: 9293px;
$panoramic-android-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-android-star: (0px, 7256px, 0px, -7256px, 474px, 665px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'panoramic-android-star', );
$panoramic-product-star-name: 'panoramic-product-star';
$panoramic-product-star-x: 0px;
$panoramic-product-star-y: 7921px;
$panoramic-product-star-offset-x: 0px;
$panoramic-product-star-offset-y: -7921px;
$panoramic-product-star-width: 463px;
$panoramic-product-star-height: 685px;
$panoramic-product-star-total-width: 683px;
$panoramic-product-star-total-height: 9293px;
$panoramic-product-star-image: '../sprite/first-page-sprite.jpg';
$panoramic-product-star: (0px, 7921px, 0px, -7921px, 463px, 685px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'panoramic-product-star', );
$first-page-center-name: 'first-page-center';
$first-page-center-x: 0px;
$first-page-center-y: 8606px;
$first-page-center-offset-x: 0px;
$first-page-center-offset-y: -8606px;
$first-page-center-width: 683px;
$first-page-center-height: 687px;
$first-page-center-total-width: 683px;
$first-page-center-total-height: 9293px;
$first-page-center-image: '../sprite/first-page-sprite.jpg';
$first-page-center: (0px, 8606px, 0px, -8606px, 683px, 687px, 683px, 9293px, '../sprite/first-page-sprite.jpg', 'first-page-center', );
$spritesheet-width: 683px;
$spritesheet-height: 9293px;
$spritesheet-image: '../sprite/first-page-sprite.jpg';
$spritesheet-sprites: ($product-center-diamond, $first-page-grid, $first-page-dynamic-word, $first-page-top-right-star, $web-center-word-p, $web-bottom-left-word2, $web-title, $first-page-top-left-star, $web-center-white-light, $product-triangle, $first-page-light, $product-bottom-word-short, $design-grid, $android-center-picture, $web-bottom-left-word4, $product-bottom-word-large, $first-page-static-word, $web-bottom-left-word1, $android-center-sprite, $web-bottom-left-word5, $android-near-words, $panoramic-click-star, $design-center-sprite, $web-center-sprite, $product-center-sprite, $android-away-words, $panoramic-design-star, $panoramic-web-star, $panoramic-android-star, $panoramic-product-star, $first-page-center, );
$spritesheet: (683px, 9293px, '../sprite/first-page-sprite.jpg', $spritesheet-sprites, );
// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
    width: 90%;
  }
  
  @mixin sprite-height($sprite) {
    height:90%;
  }
  
  @mixin sprite-size($sprite,$img_height) {
      $sprite-total-height: nth($sprite, 8);
      background-size: auto  ($sprite-total-height / $img_height) * 100%;
      }
  @mixin sprite-position($sprite,$img_height) {
      $sprite-total-height: nth($sprite, 8);
      $sprite-total-width: nth($sprite, 7);
      $sprite-y: nth($sprite, 2) / ($sprite-total-height - $img_height) * 100%;
      background-position: 0  $sprite-y;
  }
  
  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }
  
  @mixin sprite($sprite,$img_height) {
    @include sprite-size($sprite,$img_height);
    @include sprite-image($sprite);
    @include sprite-position($sprite,$img_height);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
    background-repeat: no-repeat;
  }