// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$only-sun-name: 'onlySun';
$only-sun-x: 0px;
$only-sun-y: 0px;
$only-sun-offset-x: 0px;
$only-sun-offset-y: 0px;
$only-sun-width: 53px;
$only-sun-height: 26px;
$only-sun-total-width: 646px;
$only-sun-total-height: 800px;
$only-sun-image: '../sprite/sprite_inners.jpg';
$only-sun: (0px, 0px, 0px, 0px, 53px, 26px, 646px, 800px, '../sprite/sprite_inners.jpg', 'onlySun', );
$question-head2-name: 'question-head2';
$question-head2-x: 0px;
$question-head2-y: 26px;
$question-head2-offset-x: 0px;
$question-head2-offset-y: -26px;
$question-head2-width: 646px;
$question-head2-height: 44px;
$question-head2-total-width: 646px;
$question-head2-total-height: 800px;
$question-head2-image: '../sprite/sprite_inners.jpg';
$question-head2: (0px, 26px, 0px, -26px, 646px, 44px, 646px, 800px, '../sprite/sprite_inners.jpg', 'question-head2', );
$sun-name: 'sun';
$sun-x: 0px;
$sun-y: 70px;
$sun-offset-x: 0px;
$sun-offset-y: -70px;
$sun-width: 127px;
$sun-height: 92px;
$sun-total-width: 646px;
$sun-total-height: 800px;
$sun-image: '../sprite/sprite_inners.jpg';
$sun: (0px, 70px, 0px, -70px, 127px, 92px, 646px, 800px, '../sprite/sprite_inners.jpg', 'sun', );
$loading-star-name: 'loading-star';
$loading-star-x: 0px;
$loading-star-y: 162px;
$loading-star-offset-x: 0px;
$loading-star-offset-y: -162px;
$loading-star-width: 109px;
$loading-star-height: 101px;
$loading-star-total-width: 646px;
$loading-star-total-height: 800px;
$loading-star-image: '../sprite/sprite_inners.jpg';
$loading-star: (0px, 162px, 0px, -162px, 109px, 101px, 646px, 800px, '../sprite/sprite_inners.jpg', 'loading-star', );
$loading-head1-name: 'loading-head1';
$loading-head1-x: 0px;
$loading-head1-y: 263px;
$loading-head1-offset-x: 0px;
$loading-head1-offset-y: -263px;
$loading-head1-width: 646px;
$loading-head1-height: 145px;
$loading-head1-total-width: 646px;
$loading-head1-total-height: 800px;
$loading-head1-image: '../sprite/sprite_inners.jpg';
$loading-head1: (0px, 263px, 0px, -263px, 646px, 145px, 646px, 800px, '../sprite/sprite_inners.jpg', 'loading-head1', );
$shouye-name: 'shouye';
$shouye-x: 0px;
$shouye-y: 408px;
$shouye-offset-x: 0px;
$shouye-offset-y: -408px;
$shouye-width: 356px;
$shouye-height: 392px;
$shouye-total-width: 646px;
$shouye-total-height: 800px;
$shouye-image: '../sprite/sprite_inners.jpg';
$shouye: (0px, 408px, 0px, -408px, 356px, 392px, 646px, 800px, '../sprite/sprite_inners.jpg', 'shouye', );
$spritesheet-width: 646px;
$spritesheet-height: 800px;
$spritesheet-image: '../sprite/sprite_inners.jpg';
$spritesheet-sprites: ($only-sun, $question-head2, $sun, $loading-star, $loading-head1, $shouye, );
$spritesheet: (646px, 800px, '../sprite/sprite_inners.jpg', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: 90%;
}

@mixin sprite-height($sprite) {
  height:90%;
}

@mixin sprite-size($sprite,$img_height) {
    $sprite-total-height: nth($sprite, 8);
    background-size: auto  ($sprite-total-height / $img_height) * 100%;
    }
@mixin sprite-position($sprite,$img_height) {
    $sprite-total-height: nth($sprite, 8);
    $sprite-total-width: nth($sprite, 7);
    $sprite-y: nth($sprite, 2) / ($sprite-total-height - $img_height) * 100%;
    background-position: 0  $sprite-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite,$img_height) {
  @include sprite-size($sprite,$img_height);
  @include sprite-image($sprite);
  @include sprite-position($sprite,$img_height);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
